kind: MachineDeployment
metadata:
  annotations:
  name: dkp-demo-md-0
  namespace: default
  ownerReferences:
  - apiVersion: cluster.x-k8s.io/v1beta1
    kind: Cluster
    name: dkp-demo
    uid: d497588c-dc56-40a3-a1c0-343ac35305e4
  resourceVersion: "6180296"
  uid: 515541ad-f550-4275-bc41-2b8a03a00b68
spec:
  clusterName: dkp-demo
  minReadySeconds: 0
  progressDeadlineSeconds: 600
  replicas: 4
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      cluster.x-k8s.io/cluster-name: dkp-demo
      cluster.x-k8s.io/deployment-name: dkp-demo-md-0
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
    type: RollingUpdate
  template:
    metadata:
      labels:
        cluster.x-k8s.io/cluster-name: dkp-demo
        cluster.x-k8s.io/deployment-name: dkp-demo-md-0
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: KubeadmConfigTemplate
          name: dkp-demo-md-0
      clusterName: dkp-demo
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
        kind: VSphereMachineTemplate
        name: dkp-demo-md-0
      version: v1.23.12
